<!DOCTYPE html>
<html lang="en">
<head>
    <title>MSL</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
    <link rel="icon" type="image/png" href="static/images/favicon.ico"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/css/util.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
</head>


<style>

div.container-login100{
    
background-image: url("static/images/4.jpg")    
    
    }
h1{
    font-weight: bold;
    text-align:center;    
    }
</style>
<body>
    
    <h1>Selamat Datang ke MSL koswer</h1>
    <div class="container-login100" style="background-image: url('static/images/4.jpg');">
    
        <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
        
        
        <form action="/login" method="POST">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-37">
                  LOG MASUK PELAJAR
                </span>
                

                <div class="wrap-input100 validate-input m-b-20" data-validate="Enter id_user">
                    <input class="input100" type="text" name="id_user" placeholder="Masukkan No_Matrik">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
                    <input class="input100" type="password" name="password" placeholder="Masukkan kata_laluan">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <input button type="submit" value="log masuk" class="login100-form-btn">
                    </button>
                </div>

                <div class="container text-center" >
                    <center><br><h6 >masukkan nombor matrik dan password sepertimana di dalam myguru</h6></br></center>
                  <center><br><h6 >*laman web ini khusus untuk pelajar jurusan pendidikan khas yang mengambil subjek kod tangan sahaja</h6></br></center>
                  </div>

            </form>
            </form>
        </div>
    </div>
    
    

    <div id="dropDownSelect1"></div>
    
<!--===============================================================================================-->
    <script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
    <script src="static/vendor/bootstrap/js/popper.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
    <script src="static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
    <script src="static/vendor/daterangepicker/moment.min.js"></script>
    <script src="static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
    <script src="static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
    <script src="static/js/main.js"></script>

</body>
</html>