


<!DOCTYPE html>
<html>
<body>
	<head>
		<title>Quiz</title>
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
		<div id="container">
            <h1>Sign Language Quiz</h1>
   			<br/>
  			<div id="quiz"></div>
    		<div class="button" id="next"><a href="#">Next</a></div>
    		<div class="button" id="prev"><a href="#">Prev</a></div> 
    	</div>
        <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>

<style>	
body {font-family: 'Josefin Sans', sans-serif;}
h1{text-align: center;}
.button 
{	width: 80px;
    height: 25px;
    text-align: center;
    float:right;
    background-color: #fff;
    margin: 0 2px 0 2px;
    cursor: pointer;
}
.button a 
{
    text-decoration: none;
    color: #555;
    line-height: 25px;
}
#container 
{
    width:50%;
    margin: 150px auto;
    padding: 50px 30px;
    background-color: #3f51b5;
    border-radius:3px;
    color: #fff;
    box-shadow: 0 0 10px 0 #999;
}
ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 500px;
}
ul li
{
    background: #223394;
    width: 200px;
    margin: 10px;
    padding: 5px;
    display: inline-block; 
}
#prev 
{
    display:none;
}
#start 
{
    display:none;
    width: 100px;
}
input[type="radio"]{
    cursor: pointer;
}
</style>
<script>
		
(function() 
 {
  var allQuestions = [{
    question: ("<center><img src='static/images/quiz/4.png' alt='Image' class='img-fluid' style='width:30%' /><br/>Which represent this sign?</center>"),
    options: ["4", "6", "b", "f"],
    answer: 0
  }, {
    question: ("<center><img src='static/images/quiz/e.png' alt='Image' class='img-fluid' style='width:30%' /><br/>Which represent this sign?</center>"),
    options: ["a", "8", "e", "m"],
    answer: 3
  }, {
    question: ("<center><img src='static/images/quiz/k.png' alt='Image' class='img-fluid' style='width:30%' /><br/>Which represent this sign?</center>"),
    options: ["2", "k", "z","0"],
    answer: 1
  },{
    question: ("<center><img src='static/images/quiz/f.png' alt='Image' class='img-fluid' style='width:30%' /><br/>Which represent this sign?</center>"),
    options: ["f", "3", "4", "9"],
    answer: 0
  }, {
    question: ("<center><img src='static/images/quiz/m.png' alt='Image' class='img-fluid' style='width:30%' /><br/>Which represent this sign?</center>"),
    options: ["a", "m", "n", "7"],
    answer: 1
  },{
    question: ("<center><img src='static/images/quiz/a.png' alt='Image' class='img-fluid' style='width:30%' /><br/>Which represent this sign?</center>"),
    options: ["0", "s", "n", "a"],
    answer: 3
  },{
    question: ("<center><video width='480' height='480' controls> <source src='static/video/2.mp4' type='video/mp4'><source src='static/video/2.ogg' type='video/ogg'></center>"),
    options: ["Salam Sejahtera", "Minta Maaf", "Tolong", "Terima Kasih"],
    answer: 0
  },{
    question: ("<center><video width='480' height='480' controls> <source src='static/video/2.mp4' type='video/mp4'><source src='static/video/2.ogg' type='video/ogg'></center>"),
    options: ["Salam Sejahtera", "Minta Maaf", "Tolong", "Terima Kasih"],
    answer: 3
  },{
    question: ("<center><video width='480' height='480' controls> <source src='static/video/2.mp4' type='video/mp4'><source src='static/video/2.ogg' type='video/ogg'></center>"),
    options: ["Salam Sejahtera", "Minta Maaf", "Tolong", "Terima Kasih"],
    answer: 2
  },{
    question: ("<center><video width='480' height='480' controls> <source src='static/video/2.mp4' type='video/mp4'><source src='static/video/2.ogg' type='video/ogg'></center>"),
    options: ["Salam Sejahtera", "Minta Maaf", "Tolong", "Terima Kasih"],
    answer: 0
    }];
  
  var quesCounter = 0;
  var selectOptions = [];
  var quizSpace = $('#quiz');
    
  nextQuestion();
    
  $('#next').click(function () 
    {
        chooseOption();
        if (isNaN(selectOptions[quesCounter])) 
        {
            alert('Please select an option !');
        } 
        else 
        {
          quesCounter++;
          nextQuestion();
        }
    });
  
  $('#prev').click(function () 
    {
        chooseOption();
        quesCounter--;
        nextQuestion();
    });
  
  function createElement(index) 
    {
        var element = $('<div>',{id: 'question'});
        var header = $('<h2>Question No. ' + (index + 1) + ' :</h2>');
        element.append(header);

        var question = $('<p>').append(allQuestions[index].question);
        element.append(question);

        var radio = radioButtons(index);
        element.append(radio);

        return element;
    }
  
  function radioButtons(index) 
    {
        var radioItems = $('<ul>');
        var item;
        var input = '';
        for (var i = 0; i < allQuestions[index].options.length; i++) {
          item = $('<li>');
          input = '<input type="radio" name="answer" value=' + i + ' />';
          input += allQuestions[index].options[i];
          item.append(input);
          radioItems.append(item);
        }
        return radioItems;
  }
  
  function chooseOption() 
    {
        selectOptions[quesCounter] = +$('input[name="answer"]:checked').val();
    }
   
  function nextQuestion() 
    {
        quizSpace.fadeOut(function() 
            {
              $('#question').remove();
              if(quesCounter < allQuestions.length)
                {
                    var nextQuestion = createElement(quesCounter);
                    quizSpace.append(nextQuestion).fadeIn();
                    if (!(isNaN(selectOptions[quesCounter]))) 
                    {
                      $('input[value='+selectOptions[quesCounter]+']').prop('checked', true);
                    }
                    if(quesCounter === 1)
                    {
                      $('#prev').show();
                    } 
                    else if(quesCounter === 0)
                    {
                      $('#prev').hide();
                      $('#next').show();
                    }
                }
              else 
                {
                    var scoreRslt = displayResult();
                    quizSpace.append(scoreRslt).fadeIn();
                    $('#next').hide();
                    $('#prev').hide();
                }
        });
    }
  
  function displayResult() 
    {
        var score = $('<p>',{id: 'question'});
        var correct = 0;
        for (var i = 0; i < selectOptions.length; i++) 
        {
          if (selectOptions[i] === allQuestions[i].answer) 
          {
            correct++;
          }
        }
        score.append('You scored ' + correct + ' out of ' +allQuestions.length);
        return score;
  }
})();
</script>
	</body>
</html>